<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listas de Precios</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<h1>Listas de Precios</h1>
<table>
    <thead>
    <tr>
        <th>Código</th>
        <th>Fecha Desde</th>
        <th>Fecha Hasta</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="listaPrecios : ${listasPrecios}">
        <td th:text="${listaPrecios.codListaPrecios}">1</td>
        <td th:text="${listaPrecios.fechaDesde}">2024-06-22</td>
        <td th:text="${listaPrecios.fechaHasta}">2024-07-22</td>
        <td>
            <a th:href="@{/listasPrecios/{codListaPrecios}/detalles(codListaPrecios=${listaPrecios.codListaPrecios})}">
                <button><i class="fas fa-file-export"></i> Exportar</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
